
    * {
      padding: 0;
      margin: 0;
      border: 0;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    #screen {
      position: relative;
      background: black;
      width: 100%;
      height: 100%;
    }

    .snake {
      position: absolute;
      width: 40px;
      height: 40px;
      background: -webkit-linear-gradient(top, #00b09b, #96c93d);
      opacity: 0.8;
      box-shadow: 1px 1px 0 #000 inset;
      filter: blur(1px);
    }

    #head {
      background: -webkit-linear-gradient(top, #00b09b, #96c93d);
    }

    #food {
      position: absolute;
      background: -webkit-linear-gradient(left top, white, darkred );
      border-radius: 10px;
      width: 40px;
      height: 40px;
      left: 960px;
      top: 480px;
    }

    .blur {
      filter: blur(5px);
    }

    .btn {
      position: absolute;
      color: white;
      cursor: pointer;
      z-index: 99;
      background: none;
      display: block;
    }

    .start {
      top: 50%;
      left: 40%;
      width: 20%;
      padding: 5px;
      letter-spacing: 30px;
      font-size: 40px;
    }

    .stop {
      top: 10px;
      right: 10px;
    }